{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Felhasználó szerkesztése</h1>

            {% if ret_data.error_message is defined %}
                <div class="alert alert-danger">
                    {{ ret_data.error_message | raw }}
                </div>
            {% endif %}

            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('app_user_index') }}">Vissza a listához!</a>

            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
